*{
  box-sizing:border-box;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

/* .user-name {
  font-size: 32px;
}

.user-pic {
  height: 12rem;
  width: 12rem;
  /* zoom  in 
  object-fit: cover;
  border-radius: 50%;
} */

.movie-poster {
  height: 640px;
  width: 340px;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

body {
  margin: 24px;
}
